<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Wartortle</string>
		<key>move</key>
		<string>ice-punch</string>
		<key>ability</key>
		<string>rain-dish</string>
		<key>weight</key>
		<string>225</string>
		<key>image</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bulbasaur</string>
		<key>move</key>
		<string>swords-dance</string>
		<key>ability</key>
		<string>overgrow</string>
		<key>weight</key>
		<string>69</string>
		<key>image</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blastoise</string>
		<key>move</key>
		<string>mega-punch</string>
		<key>ability</key>
		<string>rain-dish</string>
		<key>weight</key>
		<string>855</string>
		<key>image</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Butterfree</string>
		<key>move</key>
		<string>whirlwind</string>
		<key>ability</key>
		<string>tinted-lens</string>
		<key>weight</key>
		<string>320</string>
		<key>image</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ivysaur</string>
		<key>move</key>
		<string>headbutt</string>
		<key>ability</key>
		<string>chlorophyll</string>
		<key>weight</key>
		<string>130</string>
		<key>image</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jigglypuff</string>
		<key>move</key>
		<string>pound</string>
		<key>ability</key>
		<string>competitive</string>
		<key>weight</key>
		<string>55</string>
		<key>image</key>
		<string>5</string>
	</dict>
</array>
</plist>
